<!DOCTYPE html>

<html class="sso-fullcenter-html" lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title | 光华园网站统一身份认证系统</title>
    @Styles.Render(SiteConfig.SiteUrl+"/Content/css")
    @Scripts.Render(SiteConfig.SiteUrl+"/bundles/jquery")
    @Scripts.Render(SiteConfig.SiteUrl+"/bundles/bootstrap")
    <!--[if lt IE 9]>
        @Scripts.Render(SiteConfig.SiteUrl+"/bundles/ie8")
    <![endif]-->
</head>
<body class="sso-fullcenter-body">
    <div class="sso-fullcenter-container">
        @RenderBody()
    </div>
</body>
</html>