@model GHY_SSO.Models.LoginModels
@{
    Layout = "~/Views/_Layout/_FullCenterLayout.cshtml";
    ViewBag.Title = "用户登录";
}
@using (Html.BeginForm("PostLogin","User",FormMethod.Post,new
        {
            @class = "form-horizontal login-form",
            @role = "form"
        }))
{
    @Html.AntiForgeryToken()
    <h2 class="login-title"><span>光华园</span> <small>统一身份认证</small></h2>
    @Html.TextBoxFor(x => x.Email, new { @class = "form-control login-username", @placeholder = Html.DisplayNameFor(x => x.Email), @autofocus = "true" })
    @Html.PasswordFor(x => x.Password, new { @class = "form-control login-password", @placeholder = Html.DisplayNameFor(x => x.Password) })
    <div class="login-error-list">@Html.ValidationSummary(true)</div>
    <button class="btn btn-block login-btn-submit">登录</button>
    <a class="btn btn-block login-btn-register" href="@Url.Content("~/User/Register")" role="button">注册</a>
    <a class="login-forget" href="~/User/Forget">忘记密码？那你还不戳我</a>
}
<script>
    $(function () {
        var $form = $(".form-horizontal.login-form");
        var search = location.search;
        var postAction = $form.attr("action");
        $form.attr("action",postAction+search);
    });
</script>